*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    padding: 0px;
    margin: 0px;
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    
}

.background-blurr{
    background-color: rgba(0, 0, 0, 0.16);
    margin: 0px;
    padding: 0px;
    height: 140vh;
}

.background-menu{
    background-color: rgba(0, 0, 0, 0.16);
    margin: 0px;
    padding: 0px;
    height: 200vh;
}

.nav-blurr{
    background-color: rgba(0, 0, 0, 0.16);
}

.nav-blurr-text{
    background-color: rgba(0, 0, 0, 0.484);
    
}

li a{
    position: relative;
    text-decoration: none;
    font-family: Fantasy;
    color: #ffffff;
    font-size: 16px;
    padding: 0 10px;
}
li a:after{
    content: "";
    position: absolute;
    background-color: #E7BD74;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}
li a:hover{
    color: #E7BD74;
}
li a:hover:after{
    width: 90%;
}

.active{
    color: #A61008;
}

.active:before{
    content: "";
    position: absolute;
    background-color: #A61008;
    height: 3px;
    width: 90%;
    left: 0;
    bottom: -5px;
}

.text-font{
    font-family: Courier;
    text-transform: uppercase;
    font-size: 1.2em;
}

.f-times{
    font-family: 'Times New Roman', Times, serif;
}

.ff{
    font-family: "Times New Roman";
}