.menu{
    width: 70%;
    background-color: rgba(222, 184, 135, 0.932);
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    /* border-radius: 15px; */
}

h2, p {
    text-align: center;
}

.item p{
    display: inline-block;
    margin: 5px 0;
    font-size: 16px;
}

.name{
    width: 80%;
    text-align: left;
}
.price {
    width: 18%;
    text-align: right;
}

hr {
    background-color: brown;
    border-color: brown;
    height: 2px;
}

.title h2{
    font-family: 'Lobster', cursive;
    font-size: 30px;
    margin-bottom: 20px;
}

.f-times-items {
    font-size: 12px;
    float: inline-start;
    padding-left: 5px;
    margin-top: -10px;
    text-align: left;
}